body {
    background-image: url("rigging.jpg");
    width: 640px;
    margin: 0 auto;

    
}
h1 {
    padding: 1px;
    margin: 1px;
    text-indent: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color:#cccccc;
    color: black;
    text-shadow: 2px 2px 7px #111111;
    -moz-box-shadow: 3px 3px #777777;
    -webkit-box-shadow: 3px 3px #777777;
    box-shadow: 3px 3px #777777;
}
h2 {
   padding: 1px;
    margin: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color:#cccccc;
    color: #ffffff;
    text-shadow: 2px 2px 7px #111111;
    -moz-box-shadow: 3px 3px #777777;
    -webkit-box-shadow: 3px 3px #777777;
    box-shadow: 3px 3px #777777;
}
p {
    font-size: 100%;
    text-indent: 20px;
    color:black;
    background-color:#cccccc;
    text-shadow: 2px 2px 7px #111111;

}
p1 {
    font-size: 30%;
    height:auto;
    width:auto;
}
div {
    font-size: 100%;
    text-indent: 20px;
    color:black;
    background-color:#cccccc;
    text-shadow: 2px 2px 7px #111111;
    height:auto;
    width:auto;
    padding: 20px;
    margin: 1px;
    height:auto;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    -moz-box-shadow: 3px 3px #777777;
    -webkit-box-shadow: 3px 3px #777777;
    box-shadow: 3px 3px #777777;
}
img.align-left {
    float: left;
    margin-right: 35px;
}
img.medium {
    width: 150px;
    height: 200px;
}
.indent {
    text-indent: 20px;
}
h6 {
    font-size: 100%;
    color:white;
}